.root {
  padding: 1rem;
}
p {
  margin: 0;
}
.calculator-window {
  display: flex;
  border: 2px solid white;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 95vw;
  height: 90vh;
  justify-content: space-between;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.center-line {
  height: 90vh;
  opacity: 0.3;
  height: 90vh;
  border: none;
  width: 2px;
  background-color: white;
}

input {
  padding: 0.2rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section-input {
  text-align: start;
}

.section-title {
  text-align: start;
}

.btn {
  border: 1px solid transparent;
  padding: 0.5rem;
  background-color: gray;
  color: black;
  border-radius: 0.5rem;
  font-weight: 600;
}
.btn:hover {
  background-color: transparent;
  border: 1px solid gray;
  color: white;
}

.btn:active {
  background-color: black;
  color: rgba(255, 255, 255, 0.458);
}

.entering-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
